<html>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
<header>
    <div class="nav container">
        <div class="logo">FiLo</div>
        <ul>
            <li><a href="/foundItems"><h3>Items</h3></a></li>
            <li><a href="/users/login"><h3>Login</h3></a></li>
            <li><a href="/users/register"><h3>Register</h3></a></li>
        </ul>
    </div> <!-- end top-nav -->
</header>

<body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<div class="featured-items-section">
        <div class="container"> 


