<%- include('./_layouts/header'); -%>
<body>
    <div class="featured-items-section">
        <div class="container">
            <h1 class="section-text-center">Find-the-Lost</h1>
    
            <p class="section-description section-text-center">Everyday, hundreds and thousands of valuable items are lost from home, trains, and airports etc.
                Many of those lost items are never returned to their owners because it is just very difficult to link a lost
                item to the owner. Check our system to see whether you lost item has been found!
                
            </p>
    
            <div class="section-text-center button-container">
                <a href="#" class="button">Featured</a>
                <a href="#" class="button">Recent</a>
            </div>
    
    
            <div class="items section-text-center">
                <div class="item">
                    <a href="#"><img src="Astroworld_by_Travis_Scott.jpg" alt="item"></a>
                    <a href="#"><div class="item-name">Astroworld</div></a>
                    <div class="item-description">An album by Travis Scott.</div>
                </div>
                <div class="item">
                    <a href="#"><img src="Astroworld_by_Travis_Scott.jpg" alt="item"></a>
                    <a href="#"><div class="item-name">Astroworld</div></a>
                    <div class="item-description">An album by Travis Scott.</div>
                </div>
                <div class="item">
                    <a href="#"><img src="Astroworld_by_Travis_Scott.jpg" alt="item"></a>
                    <a href="#"><div class="item-name">Astroworld</div></a>
                    <div class="item-description">An album by Travis Scott.</div>
                </div>
                <div class="item">
                    <a href="#"><img src="Astroworld_by_Travis_Scott.jpg" alt="item"></a>
                    <a href="#"><div class="item-name">Astroworld</div></a>
                    <div class="item-description">An album by Travis Scott.</div>
                </div>
                <div class="item">
                    <a href="#"><img src="Astroworld_by_Travis_Scott.jpg" alt="item"></a>
                    <a href="#"><div class="item-name">Astroworld</div></a>
                    <div class="item-description">An album by Travis Scott.</div>
                </div>
                <div class="item">
                    <a href="#"><img src="Astroworld_by_Travis_Scott.jpg" alt="item"></a>
                    <a href="#"><div class="item-name">Astroworld</div></a>
                    <div class="item-description">An album by Travis Scott.</div>
                </div>
                <div class="item">
                    <a href="#"><img src="Astroworld_by_Travis_Scott.jpg" alt="item"></a>
                    <a href="#"><div class="item-name">Astroworld</div></a>
                    <div class="item-description">An album by Travis Scott.</div>
                </div>
                <div class="item">
                    <a href="#"><img src="Astroworld_by_Travis_Scott.jpg" alt="item"></a>
                    <a href="#"><div class="item-name">Astroworld</div></a>
                    <div class="item-description">An album by Travis Scott.</div>
                </div>
            </div> <!-- end products -->
    
            <div class="section-text-center button-container">
                <a href="#" class="button">View more items</a>
            </div>
    
        </div> <!-- end container -->

<%- include('./_layouts/footer'); -%>